@model IEnumerable<WebApplication1.Models.Book>

@{
    ViewBag.Title = "Index";
}
<main id="EstiloMain">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <script src="~/Scripts/script.js"></script>
    <input type="text" id="myInput" onkeyup="buscar()" placeholder="Buscar por nombre...">
    <table id="myTable" class="table-bordered">
        <tr class="header>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author.Nombre)
            </th>
            <th></th>
        </trclass="header>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.Nombre)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</main>